<!-- pre-loader -->
<!-- <div class="pre-loader">
  <img *ngFor="let bird of library.birds | keyvalue" [src]="'assets/miniature/tn_'+library.birds[bird.key].img" alt="">
</div> -->

<div class="pop-up-area" *ngIf="library.current!=''" (click)="deselectBird()">
  <div class="pop-up">
    <img class="pop-up-photo" [src]="'assets/photos/'+library.birds[library.current].img" alt="">
    <div class="pop-up-name">{{library.birds[library.current].name | capitalFirst}}</div>
    <span class="pop-up-latin">{{library.birds[library.current].genus | capitalFirst}} {{library.birds[library.current].species | lowercase}}</span>
  </div>      
</div>

<!-- <div class="header">
  <div class="space-left"></div>
  <div class="space-search">
    <div class="drop-down-select">
      <svg focusable="false" height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.49,19l-5.73-5.73C15.53,12.2,16,10.91,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.41,0,2.7-0.47,3.77-1.24L19,20.49L20.49,19z M5,9.5C5,7.01,7.01,5,9.5,5S14,7.01,14,9.5S11.99,14,9.5,14S5,11.99,5,9.5z"></path><path d="M0,0h24v24H0V0z" fill="none"></path>
      </svg>
      <input class="input" type="text" [formControl]="search">
      <div class="options">
        <div class="option" *ngFor="let key of library.searchedBirds" (click)="scrollTo(key)">
          <div class="value">{{library.birds[key].name | capitalFirst}}</div>
        </div>
      </div>
    </div>
  </div>  
  <div class="space-right"></div>
</div>   -->
<div class="map-area">
  <div class="map">
    <ng-container *ngFor="let order of birds.orders | keyvalue">
      <ng-container *ngFor="let family of birds.orders[order.key].families | keyvalue">
        <ng-container *ngFor="let species of birds.orders[order.key].families[family.key].species | keyvalue">          
          <div [ngStyle]="{
            gridColumnStart:species.value.x,
            gridRowStart:species.value.y
            }" 
            [id]="species.value.key" class="species" (click)="selectBirdInLibrary(species.value.genus, species.value.species)">
            <img [src]="'assets/miniature/tn_'+species.value.img" alt="">
            <!-- {{species.value.name}} -->
          </div>
        </ng-container>
      </ng-container>
      
      <!-- <ng-container *ngFor="let family of library.phylo[order.key] | keyvalue">
        <ng-container *ngFor="let species of library.phylo[order.key][family.key] | keyvalue">
          <div [id]="species.value.key" class="species" (click)="selectBirdInLibrary(species.value.genus, species.value.species)">            
            AAA
          </div>
        </ng-container>
      </ng-container> -->
    </ng-container>
  </div>
</div>



<!-- <div class="list" id="list">
  <ng-container *ngFor="let order of library.phylo | keyvalue">
    <div class="order">{{order.key | capitalFirst}}</div>
    <ng-container *ngFor="let family of library.phylo[order.key] | keyvalue">
      <div class="family">{{family.key | capitalFirst}}</div>
      <div class="family-species">
        <ng-container *ngFor="let species of library.phylo[order.key][family.key] | keyvalue">
            <div [id]="species.value.key" class="species" (click)="selectBirdInLibrary(species.value.genus, species.value.species)">

              <div class="photo"><img [src]="'assets/miniature/tn_'+species.value.img" alt=""></div>
              <div class="name">
                {{species.value.name | capitalFirst}}
              </div>
            </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div> -->

<!-- <div class="footer">    
  
</div>   -->
