<div class="title">Oiseaux</div>
<hr>
<div class="button" [ngClass]="{'current':currentPage=='menu'}" (click)="goTo('menu')">Acceuil</div>
<div class="button" [ngClass]="{'current':currentPage=='quizz'}" (click)="goTo('quizz')">Quizz</div>
<div class="button" [ngClass]="{'current':currentPage=='library'}" (click)="goTo('library')" >Liste des espèces</div>
<!-- <div>Progression</div> -->
<hr>
<div class="button" (click)="fullScreen()">
    <span *ngIf="isFullScreen">Quitter le mode plein écran</span>
    <span *ngIf="!isFullScreen">Passer en mode plein écran</span>
</div>
