<div class="container" id="container">
  <!-- pre-loader -->
  <div class="pre-loader">
    <img *ngFor="let bird of library.birds | keyvalue" [src]="'assets/miniature/tn_'+library.birds[bird.key].img" alt="">
  </div>

  <!------------------------------- BUTTONS -------------------------------->  
  <div class="full-screen-button" (click)="fullScreen?closeFullScreen():openFullScreen()">
    <svg  xmlns="http://www.w3.org/2000/svg" fill="none" stroke="black" viewBox="0 0 10 10">
      <path  d="M 1 1 L 9 9 "/>
      <path  d="M 1 9 L 9 1 "/>
      <path  d="M 1 3 L 1 1 L 3 1"/>
      <path  d="M 7 1 L 9 1 L 9 3"/>
      <path  d="M 9 7 L 9 9 L 7 9"/>
      <path  d="M 1 7 L 1 9 L 3 9"/>
    </svg>
  </div>
  <div *ngIf="page!='menu'" class="home-button" (click)="page='menu'">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="black" viewBox="0 0 10 10">
      <path  d="M 0 3.5 L 5 0.5 L 10 3.5 L 10 10 L 0 10 Z "/>
    </svg>  
  </div>  

  <!------------------------------------------------------------------------->
  <!-------------------------------- MENU ----------------------------------->
  <!------------------------------------------------------------------------->
  <div class="menu" [ngClass]="{'ouvert': page=='menu'}">    
    <img class="background" [src]="'assets/photos/acanthisFlammea.jpg'">
    <div class="title">OISEAUX</div>
    <div class="button" (click)="page='quizz'">Quizz</div>
    <div class="button" (click)="page='library'">Espèces</div>
  </div>

  <!-------------------------------------------------------------------------->
  <!------------------------------- LIBRARY ---------------------------------->
  <!-------------------------------------------------------------------------->
  <div class="library" [ngStyle]="{'height':page=='library'?'100%':'0'}">
    <div class="pop-up-area" *ngIf="library.current!=''" (click)="deselectBird()">
      <div class="pop-up">
        <img class="pop-up-photo" [src]="'assets/photos/'+library.birds[library.current].img" alt="">
        <div class="pop-up-name">{{library.birds[library.current].name}}</div>
        <span class="pop-up-latin">{{library.birds[library.current].genus}} {{library.birds[library.current].species}}</span>
      </div>      
    </div>
    
    <div class="header">Espèces</div>  
    <div class="list">
      <ng-container *ngFor="let order of library.phylo | keyvalue">
        <div class="order">{{order.key}}</div>
        <ng-container *ngFor="let family of library.phylo[order.key] | keyvalue">
          <div class="family">{{family.key}}</div>
          <div class="family-species">
            <ng-container *ngFor="let species of library.phylo[order.key][family.key] | keyvalue">
                <div class="species" (click)="selectBirdInLibrary(species.value.genus, species.value.species)">
                  <div class="photo"><img [src]="'assets/miniature/tn_'+species.value.img" alt=""></div>
                  <div class="name">
                    {{species.value.name}} <br>
                    <span class="latin">{{species.value.genus}} {{species.value.species}}</span>
                  </div>
                </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  
  <!------------------------------------------------------------------------->
  <!------------------------------- QUIZZ ----------------------------------->
  <!------------------------------------------------------------------------->
  <div class="quizz" [ngStyle]="{'height':page=='quizz'?'100%':'0'}">
    <div class="pre-loader">
      <img *ngFor="let bird of quizz.inProgress | keyvalue" [src]="'assets/photos/'+quizz.birds[bird.value].img" alt="">
    </div>
    <div class="quizz-container" *ngIf="quizz.current">
      <div class="next" *ngIf="quizz.mode=='answer'" (click)="nextQuestion()"></div>
      <div class="loading">Chargement...</div>      
      <div class="error" *ngIf="quizz.mode=='answer' && quizz.givenAnswer != quizz.current"></div>
      <div class="correct-background" *ngIf="quizz.mode=='answer' && quizz.givenAnswer == quizz.current"></div>
      <div class="wrong-background" *ngIf="quizz.mode=='answer' && quizz.givenAnswer != quizz.current"></div>
      <img class="background" [src]="'assets/photos/'+quizz.birds[quizz.current].img" alt="">
      <div class="bird">
        <img [src]="'assets/photos/'+quizz.birds[quizz.current].img">
      </div>
      <div class="footer">
        <ng-container *ngIf="quizz.mode=='question'">
          <div class="answer" *ngFor="let answer of quizz.answers" (click)="giveAnswer(answer)" >
            <div>{{quizz.birds[answer].name}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  
</div>
