

<div class="container" id="container" *ngIf="quizz">
  <div class="full-screen" (click)="fullScreen?closeFullScreen():openFullScreen()">full</div>
  <div *ngIf="quizz.current && quizz.mode=='question'" class="quizz">
    <img class="background" [src]="'assets/photos/'+quizz.current+'.jpg'" alt="">
    <div class="picture">
      <img class="photo" [src]="'assets/photos/'+quizz.current+'.jpg'" alt="">
    </div>
    <div class="answers" *ngIf="quizz.mode=='question'">
      <div class="answer" *ngFor="let answer of quizz.answers" (click)="giveAnswer(answer)" >
        <div>{{quizz.birds[answer].name}}</div>
      </div>
    </div>
  </div>

  <div class="correct" *ngIf="quizz.mode=='answer' && quizz.givenAnswer == quizz.current" (click)="nextQuestion()">
    <img class="background" [src]="'assets/photos/'+quizz.current+'.jpg'" alt="">
    <div class="result">{{quizz.birds[quizz.current].name}}</div>
    <div class="bird">
      <img class="photo" [src]="'assets/photos/'+quizz.current+'.jpg'">
      <div class="key2">
        {{quizz.birds[quizz.current].order}} {{quizz.birds[quizz.current].family}} {{quizz.birds[quizz.current].genus}} {{quizz.birds[quizz.current].species}}
      </div>          
    </div>
    <div class="actions">
      <div class="next">
        <svg class="svg-arrow-right" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="black" viewBox="0 0 10 10"><path  d="M 2 0 L 8 5 L 2 10 "/></svg>
      </div>
    </div>
  </div>
  <div class="wrong" *ngIf="quizz.mode=='answer' && (quizz.givenAnswer != quizz.current)" (click)="nextQuestion()">
    <div class="label">FAUX</div>
    <div class="pictures">
      <div class="picture">
        <img class="photo" [src]="'assets/photos/'+quizz.current+'.jpg'">
      </div>
      <div class="picture">
        <img class="photo" [src]="'assets/photos/'+quizz.givenAnswer+'.jpg'">
      </div>          
    </div>
    <div class="names">
      <div class="name">{{quizz.birds[quizz.current].name}}</div>
      <div class="name">{{quizz.birds[quizz.givenAnswer].name}}</div>
    </div>
  </div>
</div>
