// GENERAL /////////////////////////////////////////////////////////////////////////////////////
.full-screen{z-index: 3; position: fixed; top: 15px; right: 15px; width: 25px; height: 25px; opacity: 0.3}
.go-to-menu{z-index: 3; position: fixed; top: 15px; left: 15px; width: 25px; height: 25px; opacity: 0.3}
.container{ top: 0; left: 0; position: fixed; height: 100%; width: 100%;     
    display: flex; flex-direction: column; font-family: Calibri;}

// MENU ////////////////////////////////////////////////////////////////////////////////////////
.menu{position: absolute; height: 100%; width: 100%; box-sizing: border-box; padding: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.menu .background{z-index:1; position: absolute; min-height: 100%; min-width: 100%; filter: blur(5px);top: 50%; left: 50%; transform: translate(-50%, -50%);}
.menu div{position: relative; z-index: 2; background: hsla(0,100,100,0.5); width: 300px; height: 100px; margin: 15px;}
.menu div span{font-size: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }

// LIBRARY /////////////////////////////////////////////////////////////////////////////////////
.order{background: grey;padding: 10px; }
.family{padding-left: 15px; padding: 10px;}
.species{padding-left: 15px; padding: 10px; background: white; border-bottom: solid 1px lightGrey; 
    position: relative; 
    display: flex; 
    flex-direction: row; 
    height: 100px; 
}

.species .name{flex: 1; padding: 0 10px 0 10px;  }
.species .photo{flex-basis: 100px; max-width: 100px; position: relative; overflow: hidden; background: grey;  }
.species .photo img{position: absolute; top: 50%; left: 50%; max-height: 100%; max-width: 100%; transform: translate(-50%, -50%)}

.species .latin{font-style: italic; color: grey; }


.library{
    height: 100vh; 
    width: 100vw; 
    position: absolute; 
    border: solid 1px lightGrey; 
    top: 0; 
    left: 0;     
    background: lightGrey; 
    overflow-y: auto;
}

// MENU ////////////////////////////////////////////////////////////////////////////////////////
.quizz{ position: absolute;  top: 0; left: 0; box-sizing: border-box;
    padding: 10px; 
    height: 100%; width: 100%;display: flex; flex-direction: column;
}
.quizz .picture{ position: relative; flex: 1; }
.quizz .picture .photo{ max-height: 100%; max-width: 100%; position: absolute;     
    left: 50%; top: 50%; transform: translate(-50%, -50%); }
.quizz .background{ min-height: 110%; min-width: 110%; position: absolute; left: 50%;
    top: 50%;  transform: translate(-50%, -50%); filter: blur(10px); }
.answers{ padding-top: 5px; flex-basis: 40px; width: 100%; display: flex;  flex-direction: row; flex-wrap: wrap;
    box-sizing: border-box; align-content: space-between; }
.answer{ 
    position: relative;     
    justify-content: space-around; 
    flex-basis: 40%;
    flex-grow: 2; 
    box-sizing: border-box;     
    border: solid 1px grey; 
    border-radius: 3px;
    height: 40px; 
    box-sizing: border-box;
    margin: 5px; 
    background: hsla(0, 100%, 100%, 0.5); 
}

.answer div{        
    position: absolute; 
    width: 100%;
    top: 50%; 
    transform: translateY(-50%);
    text-align: center;
}


// CORRECT //////////////////////////////////////////////////////////////////////
.correct{ position: absolute; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between; background: hsla(0,100,100,0.5); box-sizing: border-box; padding: 10px; }
.correct .background{ z-index: 1; position: absolute; min-height: 110%;  min-width: 110%;
    left: 50%; top: 50%;  transform: translate(-50%, -50%); filter: blur(10px);opacity: 0.5; }
.correct .result{z-index: 2; flex-basis: 50px; font-size: 32px; }
.correct .bird{z-index: 2; display: flex; flex-direction: column; justify-content: center; align-items: stretch;}
.correct .bird .photo{ display: block; position: relative; max-height: calc(100vh - 150px);  max-width: 100%; align-self: center; }
.correct .bird .key {flex-basis: 30px; font-style: italic; text-align: right; font-size: 24px; text-align: center;}
.correct .bird .key2 {flex-basis: 30px; font-style: italic; text-align: center; }
.correct .actions{position: relative; z-index: 2; flex-basis: 50px; position: relative; display: flex; flex-direction: row; align-items: center;
    justify-content: center;}
.correct .actions .next{position: relative; height: 30px; width: 30px; }
.correct .actions .next svg{height: 100%; width: 100%; }


// WRONG ///////////////////////////////////////////////////////////////////////
.wrong{ position: absolute; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between; background: hsla(0,100,100,0.5); box-sizing: border-box; padding: 10px; }
.wrong .background{ z-index: 1; position: absolute; min-height: 110%;  min-width: 110%;
    left: 50%; top: 50%;  transform: translate(-50%, -50%); filter: blur(10px);opacity: 0.5; }
.wrong .result{z-index: 2; flex-basis: 50px; font-size: 32px; }

.wrong .birds{z-index: 2; position: relative; max-height: calc(100% - 150px); }
// .wrong .birds .photo{position: relative;}
.wrong .birds .photo { display: inline-block; width: 50%; position: relative; margin: 0; text-align: center; vertical-align: middle; height: 100%; top: 50%; transform: translateY(-50%); }
.wrong .birds .photo img{ max-width: 100%; max-height: 100%;}


.wrong .actions{position: relative; z-index: 2; flex-basis: 50px; position: relative; display: flex; flex-direction: row; align-items: center;
    justify-content: center;}
.wrong .actions .next{position: relative; height: 30px; width: 30px; }
.wrong .actions .next svg{height: 100%; width: 100%; }

// ICONS ///////////////////////////////////////////////////////////////////////


