<!-- <ng-container>
  <div class="page-title" *ngIf="page=='menu'">
    <div class="centered-title">MENU</div>
  </div>
  <div class="page-title" *ngIf="page=='quizz'">
    <div class="centered-title">Quizz</div>
  </div>
  <div class="page-title" *ngIf="page=='library'">
    <div class="centered-title">Espèces</div>
  </div>
</ng-container> -->



<div class="container" id="container" >
  <app-bird-test></app-bird-test>

    <!------------------------------------------------------------------------->  
    <!------------------------------- BUTTONS --------------------------------->  
    <!------------------------------------------------------------------------->
    <!-- <div class="hamburger" (click)="navigationExtended = true">
      <svg focusable="false" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
    </div> -->
  
    <!------------------------------------------------------------------------->
    <!-------------------------------- MENU ----------------------------------->
    <!------------------------------------------------------------------------->
    <!-- <div class="menu">    
      <img class="background" [src]="'assets/photos/acanthisFlammea.jpg'">
      <div class="title">OISEAUX</div>
      <div class="button" (click)="page='quizz'">Quizz</div>
      <div class="button" (click)="page='library'">Espèces</div>
      <div class="button" (click)="page='statistics'">Mon niveau</div> 
    </div> -->

    <!------------------------------------------------------------------------->
    <!----------------------------- NAVIGATION -------------------------------->
    <!------------------------------------------------------------------------->
    <!-- <div *ngIf="navigationExtended" class="navigation-background" (click)="navigationExtended=false;"></div>
    <div class="navigation" [ngClass]="{extended: navigationExtended}">
      <app-nav 
        (onChangePage)="page=$event; navigationExtended=false"
        (onFullScreen)="fullScreen==true?closeFullScreen():openFullScreen(); navigationExtended=false; "
        [isFullScreen]="fullScreen"
        [currentPage]="page"
      ></app-nav>
    </div> -->
  
    <!-------------------------------------------------------------------------->
    <!------------------------------- LIBRARY ---------------------------------->
    <!-------------------------------------------------------------------------->
    <div class="library">
      <app-bird-list [birds]="rawBirds"></app-bird-list>
    </div>

    <!-------------------------------------------------------------------------->
    <!------------------------------- MAP ---------------------------------->
    <!-------------------------------------------------------------------------->
    <!-- <div class="map-container">
      <app-map [birds]="rawBirds"></app-map>
    </div> -->
    
    <!------------------------------------------------------------------------->
    <!------------------------------- QUIZZ ----------------------------------->
    <!------------------------------------------------------------------------->
    <!-- <div class="quizz">
      <app-bird-quizz (onGetStats)="getStats()" (onSetStats)="setStats($event); getStats()" [birds]="rawBirds" [stats]="stats"></app-bird-quizz>
    </div> -->

    <!------------------------------------------------------------------------->
    <!----------------------------- STATISTICS -------------------------------->
    <!------------------------------------------------------------------------->
    <!-- <div class="statistics">
      <app-statistics [stats]="stats"></app-statistics>
    </div> -->
    
  </div>
  